* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 300px;
}

.btn {
  border: 1px solid #031ba3;
  height: 40px;
  width: 40px;
  border-radius: 80%;
  background: none;
  cursor: pointer;
  border: none;
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #031ba3;
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #3a3a3a;
  text-decoration: none;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #031ba3;
  color: #fff;
}
.btn:hover {
  background-color: #031ba3;
}
.btn-icon:hover {
  stroke: #fff;
}
